html, body {
    height: 100%; /* Asegura que el body y el html ocupen el 100% de la altura */
    margin: 0; /* Elimina el margen predeterminado */
}

body {
    position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
}

body::before {
    content: '';
    position: fixed; /* Cambiar a fixed para que siempre cubra el viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    z-index: -1; /* Asegura que esté detrás del contenido */
}

.container {
    position: relative; /* Para que el contenido esté encima del fondo negro */
    z-index: 1; /* Asegura que el contenido esté por delante del fondo negro */
}
